@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-weak {
  @apply bg-gray-300 dark:bg-zinc-800;
}

.bg-strong {
  @apply bg-[#d4cfc4] dark:bg-slate-800;
}

.bg-navbar {
  @apply bg-gray-400 dark:bg-zinc-900;
}

.text-super-weak {
  @apply text-gray-900 dark:text-stone-200;
}

.text-weak {
  @apply text-gray-700 dark:text-stone-400;
}

.text-mid {
  @apply text-gray-500 dark:text-stone-600;
}

.text-strong {
  @apply text-gray-500 dark:text-stone-800;
}

.text-gradient {
  @apply bg-gradient-to-b from-amber-500 to-amber-800 text-transparent bg-clip-text;
}

.heading {
  @apply text-gradient font-semibold m-[3.5rem] text-[2.75rem] text-center;
}

.subheading {
  @apply text-super-weak font-medium text-xl md:text-3xl;
}

.text {
  @apply text-weak text-lg md:text-xl;
}

.w-body {
  @apply w-[320px] mx-16 sm:w-[650px] md:w-[750px];
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
