@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: var(--base);
  --color-surface: var(--surface);
  --color-mantle: var(--mantle);
  --color-crust: var(--crust);
  --color-foreground: var(--subtext);
  --color-primary: var(--text);
  --color-accent: var(--accent);
}

html[data-theme="latte"] {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;

  --text: #4c4f69;
  --subtext: #5c5f77;
  --surface: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
}

html[data-theme="mocha"] {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  --text: #cdd6f4;
  --subtext: #bac2de;
  --surface: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

html[data-theme="macchiato"] {
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --subtext: #b8c0e0;
  --surface: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
}

html[data-theme="frappe"] {
  --rosewater: #f2d5cf;
  --flamingo: #eebebe;
  --pink: #f4b8e4;
  --mauve: #ca9ee6;
  --red: #e78284;
  --maroon: #ea999c;
  --peach: #ef9f76;
  --yellow: #e5c890;
  --green: #a6d189;
  --teal: #81c8be;
  --sky: #99d1db;
  --sapphire: #85c1dc;
  --blue: #8caaee;
  --lavender: #babbf1;
  --text: #c6d0f5;
  --subtext: #b5bfe2;
  --surface: #414559;
  --base: #303446;
  --mantle: #292c3c;
  --crust: #232634;
}

html[data-accent="rosewater"] { --accent: var(--rosewater); }
html[data-accent="flamingo"]  { --accent: var(--flamingo); }
html[data-accent="pink"]      { --accent: var(--pink); }
html[data-accent="mauve"]     { --accent: var(--mauve); }
html[data-accent="red"]       { --accent: var(--red); }
html[data-accent="maroon"]    { --accent: var(--maroon); }
html[data-accent="peach"]     { --accent: var(--peach); }
html[data-accent="yellow"]    { --accent: var(--yellow); }
html[data-accent="green"]     { --accent: var(--green); }
html[data-accent="teal"]      { --accent: var(--teal); }
html[data-accent="sky"]       { --accent: var(--sky); }
html[data-accent="sapphire"]  { --accent: var(--sapphire); }
html[data-accent="blue"]      { --accent: var(--blue); }
html[data-accent="lavender"]  { --accent: var(--lavender); }

@layer base {
  * {
    @apply bg-background text-foreground;
  }
}
